.container{
    /* border: solid ; */
    text-align: center;
        background-color: rgb(216, 211, 211);
    padding: 20px 40px;
    width: 40%;
    height: 350px;
    position: relative;
    left: 25%;
    top: 100px;
    border-radius: 20px;
  background: linear-gradient(135deg, pink, lightblue);
  background-size: 100% 100%;




}




button{
    border-radius: 10px;
    padding: 6px ;
    border: none;
    cursor: pointer;

}
button:hover{
    color: rgb(238, 238, 238);
    background-color: black;
}
    button:active {
        /* Styles applied when the button is clicked */
        transform: scale(0.98); /* Makes the button appear slightly smaller, simulating a press */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Reduces the shadow for a "pushed in" look */
        background-color: #0056b3; /* Changes background color for visual feedback */
    }
span{
    position: absolute;
    top: 220px;
    left: 160px;
}

input{
    width: 250px;
    height: 25px;
    margin: 10px;
}
.btn_submit{
    width: 250px;
    height: 35px;}


    /* ================== */




